.body {
    color: black;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
background-color: white;
}




div {

    background: rgba(232, 18, 18, 0.24);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(232, 18, 18, 0.74);
    border: 1px solid rgba(79, 76, 76, 0.42);
    padding: 3rem;

}